<div class="container">
  <div class="columns">
    <div class="column">
      <h1 class="title is-1">Angular Starter for CASE</h1>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <h2 class="title is-3">Add a new Pokemon</h2>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <table class="table is-striped is-fullwidth">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pokemon of pokemons">
            <td>{{ pokemon.id }}</td>
            <td>{{ pokemon.name }}</td>
            <td>{{ pokemon.type }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
