<div class="container">
  <div class="columns">
    <div class="column">
      <h1 class="title is-1">Angular Starter for CASE</h1>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <p>This is a starter project for Angular.</p>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <table class="table is-striped is-fullwidth">
        <thead>
          <tr>
            <th>Image</th>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pokemon of pokemons">
            <td>
              <img src="{{ pokemon.image }}" alt="{{ pokemon.name }} image" />
            </td>
            <td>{{ pokemon.id }}</td>
            <td>{{ pokemon.name }}</td>
            <td>{{ pokemon.type }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
